:root {
  --topbar-height: 28px;
  --topbar-bgcolor: rgb(60, 60, 60);
  --topbar-bgcolor-hover: rgba(70, 70, 70, 0.9);
  --topbar-fgcolor: rgb(204, 204, 204);
  
  --topbar-selection-hover: rgb(9, 71, 113);

  --sidebar-items-bgcolor: rgb(35, 35, 35);
  --sidebar-bgcolor: rgb(51, 51, 51);
  --sidebar-bgcolor2: rgb(35, 35, 35);
  --sidebar-fgcolor: rgb(204, 204, 204);
  --sidebar-bgcolor-hover: rgb(63, 63, 63);
  --border-width: 0px;
  --border-color: rgba(85, 85, 85, 0.6);
}
[data-theme-mode="2"] {
  --border-width:1px;
  --topbar-bgcolor: rgb(37, 37, 37);
  --sidebar-bgcolor: rgb(39, 39, 39);
  --sidebar-items-bgcolor: rgb(39, 39, 39);
}
input[type=checkbox] {
  position:relative;
  top:8px;
  margin-left:10px;
}
.termbutton {
  position:relative;
  right:10px;
  top:10px;
  float:right;
  text-align:center;
  border-radius:2px;
  z-index:99999 !important;
  width:30px;
  height:30px;
  padding:0;
  font-size:20px;
  background:rgb(30, 30, 29);

  cursor: pointer;
}

.termbutton:hover {
  border-radius:2px;
  z-index:99999 !important;
  width:30px;
  height:30px;
  background:rgb(50, 50, 51);
  cursor: pointer;
}
img {
  border-radius: 0 !important;
}

html, body {
  height: 100%;
  width:100%;
  position:sticky;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.no-select {
  user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#editor {
  height: 100%;
}

#editor textarea {
  outline: none !important;
}

.monaco-editor textarea:focus {
  box-shadow: none !important;
}

#terminal {
  border-top: var(--border-width) solid var(--border-color);
  border-left: var(--border-width) solid var(--border-color);
  background-color: rgb(29,29,29);
}

#icon {
  cursor: default;
  width: 32px;
}

#topbar {
  display: flex;

  width: 100vw;
  height: var(--topbar-height);

  margin: 0;
  padding-left: 8px;
  gap: 6px;

  justify-content: left;
  align-content: center;
  align-items: center;

  list-style: none;

  font-size: 12px;

  background-color: var(--topbar-bgcolor);
  color: var(--topbar-fgcolor);
  border-bottom: var(--border-width) solid var(--border-color);

  user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#topbar li {
  cursor: pointer;
}

#topbar li a {
  display: flex;

  align-self: center;
  align-items: center;
  padding: 0 12px;

  height: 100%;

  text-decoration: none;
  color: var(--topbar-fgcolor);

  user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#topbar li a:hover {
  background-color: var(--topbar-bgcolor-hover);
}

#topbar-options {
  display: none;
  /* display: flex; */
  position: absolute;
  top: var(--topbar-height);

  z-index: 3;

  flex-basis: 280px; 
  width: 280px;

  flex-grow: 1;
  flex-shrink: 0;

  flex-direction: column;

  margin: 0;
  padding: 8px 0;
  
  box-shadow: 2px 3px 5px 0.5px rgba(0, 0, 0, 0.5);

  background-color: var(--sidebar-bgcolor2);
  color: var(--topbar-fgcolor);
  list-style: none;
}

#topbar-options li {
  display: flex;
  cursor: pointer;

  font-family: Segoe UI, sans-serif;

  align-content: center;
  align-items: center;

  padding: 2px 0;
  padding-left: 24px;

  font-size: 13px;
  /* font-weight: bold; */

  user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

#topbar-options li:hover {
  background-color: var(--topbar-selection-hover);
}

#sidebar {
  -webkit-user-select:none;
  user-select:none;
  display: grid;
  border-right: var(--border-width) solid var(--border-color);
  grid-template-columns: 48px auto;

  background-color: var(--sidebar-bgcolor);
  color: var(--sidebar-fgcolor);
}

#sidebar-items {
  
}
#files {
  border-left: var(--border-width) solid var(--border-color);
  background-color: var(--sidebar-items-bgcolor);
}
#settings {
  border-left: var(--border-width) solid var(--border-color);
  background-color: var(--sidebar-items-bgcolor);
  display:none;
  padding:10px;
  padding-right:10px !important;
}
.sidebar-item {
  width: 100%;

  padding: 6px 4px;

  align-items: center;
  align-content: center;
  text-align: center;

  cursor: pointer;
}

.sidebar-item.selected {
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: white;
}

.sidebar-item img {
  width: 24px;
  height: 24px;

  text-align: center;
}


/* Text Editor and Terminal */
#ide {
  display: grid;

  grid-template-rows: calc(100vh - var(--topbar-height));
  grid-template-columns: calc(100px + 10vw) auto;
  overflow: hidden;
}

#ide #layout {
  display: grid;

  grid-template-rows: calc(100vh - var(--topbar-height));
  grid-template-columns: auto 35vw;

  overflow: hidden;
  border-right: var(--border-width) solid var(--border-color);
  border-bottom: var(--border-width) solid var(--border-color);
}


/* File Tree */
.file-root {
  
}

.file-folder {

}

.btnLift {
  cursor: pointer !important;
}

.folder-hidden {
  display: none;
}

.file-selected .file-name {
  background-color: var(--sidebar-bgcolor-hover);  
}

.file-files {
  list-style: none;
  margin: 0;
  padding: 0;
}

.file-file {
  position:relative;
}

.file-name {
  position:relative;
  font-size: 15px;
  cursor: pointer;
  padding: 4px 6px;
}

.file-name:hover {
  background-color: var(--sidebar-bgcolor-hover);
}

.file-icon {
    
}
